<?xml version='1.0' encoding='utf-8'?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
    xmlns:sap="http://www.mulesoft.org/schema/mule/sap" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd http://www.mulesoft.org/schema/mule/sap http://www.mulesoft.org/schema/mule/sap/current/mule-sap.xsd">
    <global-property doc:name="Global Property" name="mule.env" value="dev" />

    <configuration-properties file="common.properties" doc:id="136ce488-ae73-474e-bb7d-1bce056e3686" doc:name="Configuration properties" />
    <configuration-properties file="mule.${mule.env}.properties" doc:id="ae68708a-f1cf-4533-873c-7d7a75e6dfd2" doc:name="Configuration properties" />

    <salesforce:sfdc-config name="Salesforce" doc:id="635cce3a-8d68-4c3d-b12a-5c1e09bbb442" doc:name="Salesforce">
        <salesforce:basic-connection password="${sfdc.password}" securityToken="${sfdc.securityToken}" username="${sfdc.username}" />
    </salesforce:sfdc-config>
    <sap:sap-config name="SAP_Config" doc:name="SAP Config" doc:id="68fb1aaa-84e3-4abd-b584-5f7efbc227d5" >
        <sap:simple-connection-provider-connection applicationServerHost="${sap.jco.ashost}" client="${sap.jco.client}"
            language="${sap.jco.lang}" password="${sap.jco.passwd}" systemNumber="${sap.jco.sysnr}" username="${sap.jco.user}" />
    </sap:sap-config>
</mule>